body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f6f8;
    color: #333;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    align-items: center;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #2f54eb;
  }
  
  nav a {
    margin-left: 1.5rem;
    text-decoration: none;
    color: #333;
    font-weight: 500;
  }
  
  .btn {
    padding: 0.5rem 1rem;
    background-color: #2f54eb;
    color: white;
    border-radius: 8px;
  }
  
  
  .hero {
    text-align: center;
    padding: 4rem 1rem;
    background-color: #f0f2ff;
  }
  
  .hero h1 {
    font-size: 2.5rem;
    color: #2f54eb;
  }
  
  .hero p {
    font-size: 1.1rem;
    margin: 1rem 0;
  }
  
  .hero button {
    padding: 0.75rem 2rem;
    background-color: #2f54eb;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  }

  .map-section {
    height: 80vh;
    width: 100%;
  }
  
  .map {
    width: 100%;
    height: 100%;
  }